@import url('https://fonts.googleapis.com/css2?family=Asap&display=swap');
*{
  outline: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Asap", sans-serif;
}
body{
  background: #42455a;
}
section{
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
section:nth-child(1){
  color: #e0ffff;
  }
section:nth-child(2){
  color: #42455a;
  background: #e0ffff;
} 
section:nth-child(3){
  color: #e0ffff;
}
section:nth-child(4){
  color: #42455a;
  background: #e0ffff;
}
section .container{
  margin: 100px;
}
section h1{
  font-size: 3rem;
  margin: 20px;
}
section h2{
  font-size: 40px;
  text-align: center;
  text-transform: uppercase;
}
section .text-container{
   display: flex;
}
section .text-container .text-box{
  margin: 20px;
  padding: 20px;
  background: #00c2cb;
}
section .text-container .text-box h3{
  font-size: 30px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 10px;
}

@media (max-width: 900px){
  section h1{
    font-size: 2rem;
    text-align: center;
  }
  section .text-container{
    flex-direction: column;
  }
}

.reveal{
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: 1s all ease;
}

.reveal.active{
  transform: translateY(0);
  opacity: 1;
}

model-viewer{
  height: 500px;
  width: 300px;
  margin: 0px;
  padding: 20px;
}
model-viewer[ar-status="not-presenting"] > #ar-button {
  display: block;
}
model-viewer[ar-status="not-presenting"] > #ar-prompt {
  display: block;
}
model-viewer > #ar-prompt {
  position: absolute;
  left: 50%;
  bottom: 175px;
  display: block;
}
model-viewer > #ar-button {
  position: absolute;
  left: 80%;
  bottom: 175px;
  display: block;
}
model-viewer > #ar-failure {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 175px;
  display: none;
}
model-viewer[ar-tracking="not-tracking"] > #ar-failure {
  display: block;
}
/*
ar-status
  not-presenting
  session-started
  object-placed
  failed

*/
